body {
  margin: 0;
  padding: 0;
}

#logo {
  width: 200px;
  height: auto;
  float: left;
}

#icon {
  padding-top: 35px;
  width: 50px;
  height: auto;
  float: right;
}
/* ~~ Top Navigation Bar ~~ */

#navigation-container {
  width: 1200px;
  margin: 0 auto;
  height: 70px;
}

.navigation-bar {
  position: absolute;
  z-index: 9999;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 200px;
  width: 100%;
  text-align:center;
}
.navigation-bar img{
float: left;
}

li {
    font-family: "brokman";
    src: local("font/Brokman DemiBold.otf") format("opentype");
    list-style:none;
    padding-top: 40px;
    float: left;
}

li a, .dropbtn {

    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #4caf50;
    border-radius: 10px;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}


/*slider*/
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

div#slider { 
  overflow: hidden; 
    height: 600px;
}
div#slider figure img { 
  width: 20%; 
  float: left; 
}

div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}

#slide-footbar{
  background: #4caf50;
  padding-top: 7px;

}

/*Produtos*/
.master-produtos {
  padding-left: 13%;
  width: 1000px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.master-produtos h1{
  text-align: center;
}

.produtos{
  width:214px;
  height:200px;
  border:1px solid #000;
  background:#A6E22E;
  margin:0px 0px 20px 20px;
  float:left;
}

.button1 {
    background-color: #4CAF50;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-left: 40%

}