

body {
  margin: 0;
  padding: 0;
  background: green;
}

#logo {
  width: 200px;
  height: auto;
  float: left;
}

#icon {
  padding-top: 35px;
  width: 50px;
  height: auto;
  float: right;
}
/* ~~ Top Navigation Bar ~~ */

#navigation-container {
  width: 1200px;
  margin: 0 auto;
  height: 70px;
}

.navigation-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 200px;
  width: 100%;
  text-align:center;
}
.navigation-bar img{
float:left;
}


#menu {
  
  float: right;
}


li {
    font-family: "brokman";
    src: local("font/Brokman DemiBold.otf") format("opentype");
    list-style:none;
    padding-top: 40px;
    float: left;
}

li a, .dropbtn {

    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #4caf50;
    border-radius: 10px;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}